.Title {
  display: flex;
  justify-content: center;
}

h1 {
  color: #fafe00;
  -webkit-text-stroke: 3px rgb(19, 4, 155);
  font-size: 60px;
  margin-top: 50px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  padding-left: 10px;
  margin: 50px auto;
  background-color: #fe0065;
  border-radius: 10px;
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}

